.btn{
    background: $gradient-btn;
    color: white;
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-family:map-get($font-family,liens );
    box-shadow: 0px 5px 10px -1px rgb(0 0 0 / 23%);
    margin-bottom: 1rem;
    width:195px;

    &:hover{
        opacity: 0.9;
        filter: drop-shadow(2px 3px 4px black);
        cursor:pointer;
    }
}

.heart-container{
    @include centrer;
    justify-self: end;
    align-self: center;
    width: 40px;
    height: 40px;
    position: relative; 
    background: $gradient-heart;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;

    i{
        font-size: 1.5rem;
        background-color: white;
        -webkit-text-stroke: 1px black;
    }

    i:hover{
        animation: heart 0.5s ease-in-out forwards;
    }

}

@keyframes heart{
    0%{
        -webkit-text-stroke: 1px black;
    }
    100%{
        background-color: transparent;
        -webkit-text-stroke: 1px transparent;

    }
}

