.btn{
    /*margin, padding*/
    @include marg-pad(0 0 1rem 0,.8rem 1.5rem);
    background: $gradient-btn;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 5px 10px -1px rgb(0 0 0 / 23%);
    color: white;
    font-family:map-get($list-font,liens );
    outline: none;
    width:195px;

    &:hover{
        cursor:pointer;
        filter: drop-shadow(2px 3px 4px black);
        opacity: 0.9;
    }
}

.heart-container{
    @extend %centrer;
    align-self: center;
    background: $gradient-heart;
    height: 40px;
    justify-self: end;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    width: 40px;

    i{
        background-color: white;
        font-size: 1.5rem;
        -webkit-text-stroke: 1px black;
    }

    i:hover{
        animation: heart 0.5s ease-in-out forwards;
    }

}

@keyframes heart{
    0%{
        -webkit-text-stroke: 1px black;
    }
    100%{
        background-color: transparent;
        -webkit-text-stroke: 1px transparent;

    }
}

