.loading{
    @extend %centrer;
    animation-delay: 3s;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-name: waiter;
    background-color: rgb(53, 53, 53 , 80%);
    height: 100%;
    position: fixed;
    width:100%;
    z-index: 10;

    h1{
        /*family,size,weight*/
        @include font-details(map-get($list-font, loader),map-get($list-taille-font, loader ),unset);
        animation:2s loader linear infinite;
        background: $gradient-loading;
        background-size: 200%;
        display: block;
        letter-spacing: 1rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .dot{
        animation: dot 2s ease-in-out infinite;
        border-radius: 50%;
        display: none;
        height: 1.5rem;
        margin: 1rem;
        width:1.5rem;
    }
    .dot:nth-child(2){
        background-color: $color-primary;
    }
    .dot:nth-child(3){
        animation-delay: 0.5s;
        background-color: $color-secondary;
    }
    .dot:nth-child(4){
        animation-delay: 1s;
        background-color: $color-tertiary;
    }

    @media(max-width:#{$tablet-width}){
        h1{
            display: none;
        }
        .dot{
            display: block;
        }
    }

}

.localisation{
    @extend %centrer;
    background-color: #E0E0E0;
    box-shadow: inset 0px 28px 4px -24px rgba(0,0,0,0.24);
    div{
        /*template-rows,templates column, row gap, column gap*/
        @include grid(auto,auto 1fr,0,0);
        color: #535353;
        padding: .8rem;
        width: 14rem;
        i{
            justify-self: start;
        }
        p{
            /*family,size,weight*/
            @include font-details(map-get($list-font, gras ),map-get($list-taille-font, localisation),unset);
            justify-self: center;
        }

    }
    @include tablet-only{
        /*margin, padding*/
        @include marg-pad(auto,0 3rem);
        width: 80%;
    }
}

.img__restaurant{
    height:15rem;
    width:100%;
    picture{
        height: 70%;
        img{
            @extend %img-cover;     
        }
    }
}

.goToRestaurants{
    align-items: center;
    background-color: $color-lightgrey;
    padding: 2rem 3rem;
    text-align: center;
    &__text{
        /*family,size,weight*/
        @include font-details(map-get($list-font,text),unset,700);
        margin: 1rem 0 2rem 0;
    }
    @include tablet-only{
        /*margin, padding*/
        @include marg-pad(auto,2rem 3rem);
        width: 80%;
    }

}

.fonctionnement{
    padding: 3rem 1rem 2rem 1rem;

    @include tablet-only{
        /*margin, padding*/
        @include marg-pad(auto,3rem 2rem);
        width: 80%;
    }
    &__list{
            
        /*template-rows,templates column, row gap, column gap*/
        @include grid(auto,1fr,2rem,0);
        padding: 2rem 0 2rem 0;

        @include tablet-only{
            @include grid(auto,repeat(3,1fr),2rem,2rem);
        }
        h2{
            grid-row-start: 1;
        }

        .list__procedure{
            /*template-rows,templates column, row gap, column gap*/
            @include grid(0,20px 1fr,0,0);
            /*margin, padding*/
            @include marg-pad(0 0 0 10px,1.5rem 2rem);
            align-items: center;
            background-color: $color-lightgrey;
            border-radius:15px ;
            box-shadow: 0px 5px 10px -1px rgb(0 0 0 / 23%);
            position:relative;
            @include tablet-only{
                grid-row-start: 2;
            }
            i{
                color: rgb(112, 112, 112);
            }
            &__text{
                /*family,size,weight*/
                @include font-details(map-get($list-font,gras),map-get($list-taille-font, footerstep),unset);
                margin-left:1rem;
            }
            &__number{
                @extend %centrer;
                /*family,size,weight*/
                @include font-details(map-get($list-font,liens),map-get($list-taille-font, nombrenouveau),unset);
                background: $color-primary;
                border-radius: 50%;
                color: white;
                height: 20px;
                left: -10px;
                position: absolute;
                width: 20px;
            }
        }
        .list__procedure:nth-child(4){
            background-color: rgb(245, 237, 255);
            i{
                color:$color-primary ;
            }
        }
    }
    
}


.restaurants{
    background-color: $color-lightgrey;
    padding: 3rem 1rem;

    @include tablet-only{
        /*margin, padding*/
        @include marg-pad(auto,3rem);
        border-radius: 15px;
        width:80%;
    }

    &__list{
        /*template-rows,templates column, row gap, column gap*/
        @include grid(auto,1fr,2rem,0);
        margin-top: 2rem;

        @include tablet-only{
            @include grid(auto,repeat(2,1fr),2rem,2rem);
        }

        article{
            
            .list__card{
                background-color: white;
                border-radius: 15px;
                box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.10);
                display: flex;
                flex-direction: column;
                height: 15rem;
                overflow: hidden;
                position: relative;
                picture{
                    height: 70%;
                    img{
                        @extend %img-cover;  
                    }
                }
                .card__footer{
                    /*template-rows,templates column, row gap, column gap*/
                    @include grid(auto,auto 1fr,0,0);
                    padding: 1rem 1rem 1rem 0.5rem;
                    .footer__descriptif{
                        h3{
                            /*family,size,weight*/
                            @include font-details(map-get($list-font,gras),map-get($list-taille-font, footerstep),unset);
                        }
                        p{
                            /*family,size,weight*/
                            @include font-details(map-get($list-font,text),map-get($list-taille-font, footerstep),700);
                            margin-top: 0.3rem;
                        }
                    }
                    
        
                }
                
            }
        }

        
    
        article:nth-child(1) .list__card::after{
            @include icon--new;
        }
        article:nth-child(2) .list__card::after{
            @include icon--new;
        }
    }

    

}

.menu{
    @extend %centrer;
    /*margin, padding*/
    @include marg-pad(-2rem 0 0 0,1.5rem 1rem 4rem 1rem);
    background-color: $color-lightgrey;
    border-radius: 2rem 2rem 0 0;
    flex-direction: column;
    grid-row-gap: 2rem;
    position: relative;

    @include tablet-only{
        /*margin, padding*/
        @include marg-pad(-2rem 0 0 0,1.5rem calc(10% - 2rem) 4rem calc(10% - 2rem));
    }

    .btn{
        justify-self: center;
    }

    &__list{
        /*template-rows,templates column, row gap, column gap*/
        @include grid(auto,1fr,2rem,0);
        @include tablet-only{
            /*justify-content, align-items*/
            @include alignement(center,baseline);
            flex-wrap: wrap;
            grid-column-gap: 2rem;
        }

    }

}

.list__step{
        display: flex;
        flex-direction: column;
        grid-row-gap: 1rem;
        h3{
            /*family,size,weight*/
            @include font-details(map-get($list-font,text),1rem,700);
            border-bottom: solid 3px $color-tertiary;
            letter-spacing: 1px;
            padding-bottom: 0.5rem;
            width: 40px;
        }

        
        .step{
            background-color: white;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
            display: flex;
            opacity: 0;
            overflow: hidden;
            .card{
                /*template-rows,templates column, row gap, column gap*/
                @include grid(auto auto,auto 1fr,0.3rem,0);
                padding: 0.7rem 0 0.7rem 0.5rem;
                position: relative;
                text-overflow: ellipsis;
                width:100%;
                &__nom{
                    @extend %text-wrap;
                    /*family,size,weight*/
                    @include font-details(map-get($list-font,gras),0.95rem,unset);
                }
                &__descriptif{
                    @extend %text-wrap;
                    /*family,size,weight*/
                    @include font-details(map-get($list-font,text),.8rem,600);
                    grid-column-start: 1;
                    grid-row-start: 2;
                }
                &__prix{
                    /*family,size,weight*/
                    @include font-details(map-get($list-font,gras),.85rem,unset);
                    color: #3a3a3a;
                    grid-column-start: 2;
                    grid-row-start: 2;
                    justify-self: end;
                    padding: 0 1.5rem;
                }
    
                
                
            }

            .check{
                @extend %centrer;
                background-color: $color-tertiary;
                color: white;
                font-size: 1.3rem;
                position: relative;
                width: 0%;

            }

            &:hover{
                .check{
                    animation: anim 1s;
                    transition: animation 0.2s linear, opacity 0.2s linear;
                    width:25%;

                    i{
                        animation: tourne 1s;
                        transition: animation 0.2s linear, opacity 0.2s linear;
                    }
                    
                }
            }

        }

        .step:nth-child(1n){
            animation: apparition 0.5s forwards cubic-bezier(.29,.26,.74,1.26);
        }

        @for $i from 1 to 10 {
            .step:nth-child(#{$i}){
                animation-delay: #{$i * 0.5}s;
            }
           
        }


}

@keyframes anim{
    0%{
        width:0%;

    }
    100%{
        width:25%;
    }
}

@keyframes tourne{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes apparition{
    0%{
        opacity: 0;
        transform: translateY(-50px);

    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes loader{
    0%{
    }

    100%{
        background-position: 200% center;
    }

}

@keyframes waiter{
    0%{
    }
    100%{
        opacity: 0;
        z-index: -1;

    }
}

@keyframes dot{
    0%{
        transform: translateY(0);
    }
    50%{
        transform:translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}