footer{
    background-color: $color-bgfooter;
    color: white;
    padding:1.5rem 1rem;
    @include tablet-only{
        padding: 1.5rem calc(10% - 2rem);
    }
    img{
        filter: invert(1);
        margin-bottom: 1rem;
        width: 6.5rem;
    }
    ul{
        /*template-rows,templates column, row gap, column gap*/
        @include grid(auto,auto,0.4rem,0);
        font-size: map-get($list-taille-font, footerstep);
        li{
            display: inline-flex;
            p{
                font-family: map-get($list-font, text);

            }
            i{
                font-size: 0.8rem;
                margin-right: 0.3rem;
                width: 20px;
            }
            
        }
        li:nth-child(1) > p{
            font-family: map-get($list-font, liens);
        }
        li:nth-child(2) > p{
            font-family:map-get($list-font, liens);
        }
    }

}