header{
    @include centrer;
    img{
        margin: 1rem;
        width: 14rem;
    }

    i{
        position: absolute;
        left: 1rem;
        top:1.8rem;
        color: #3a3a3a;
    }
}

.menu__header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    width:100%;
    align-items: end;
    h2{
        font-family: Shrikhand-Regular;
        font-weight: 100;
    }

    .heart-container{
        margin-right: 1rem;
    }
}